<h2>My Heroes</h2>

<div class="add-new">
  <mat-form-field>
    <mat-label for="new-hero">Hero name: </mat-label>
    <input matInput id="new-hero" #heroName />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="button"
    class="add-button"
    (click)="add(heroName.value); heroName.value = ''"
  >
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a mat-raised-button routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button
      mat-raised-button
      type="button"
      class="delete"
      title="delete hero"
      (click)="delete(hero)"
    >
      x
    </button>
  </li>
</ul>
